name: "On Push"
on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22.21.1"
          cache: "npm"
      - run: npm ci
      - run: npm run build
      - run: npm run test
      - run: npm run cdk synth
      - name: Sustainability Scan
        uses: aws-actions/sustainability-scanner@v1
        with:
          file: 'cdk.out/CarbonAwareJobsStack.template.json'
